.databox {
  display: flex;
  flex-direction: column;

  width: fit-content;
  height: fit-content;
  max-height: 80vh;

  text-align: left;
}

.todayIs {
  margin-top: 20px;
  font-size: 40px;
  color: black;
}

.title {
  font-size: 40px;
  color: black;
}

@media screen and (max-width: 525px) {
  .title {
    font-size: 30px;
  }

  .todayIs {
    font-size: 15px;
  }

  .databox {
    margin: auto 15px auto auto;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
  }

  .todayIs {
    font-size: 10px;
  }
}
