.title {
  font-size: 40px;
  color: white;
}

.parameter {
  margin-top: 20px;
  font-size: 20px;
}

.databox {
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: fit-content;
  max-width: 50%;
  height: fit-content;
  margin: auto 20px auto auto;
  padding: 0 10px 20px;

  text-align: right;

  opacity: 0.7;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

@media screen and (max-width: 525px) {
  .title {
    font-size: 30px;
  }

  .parameter {
    font-size: 15px;
  }

  .databox {
    margin: auto 15px auto auto;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
  }

  .parameter {
    font-size: 10px;
  }

  .databox {
    margin: auto 10px auto auto;
  }
}
