.title {
  font-size: 30px;
  color: black;
}

.parameter {
  margin-top: 10px;
  font-size: 18px;
}

.databox {
  display: flex;
  flex-direction: column;

  width: fit-content;
  height: fit-content;
  max-height: 80vh;

  text-align: left;
}

@media screen and (max-width: 525px) {
  .title {
    font-size: 30px;
  }

  .parameter {
    font-size: 15px;
  }

  .databox {
    margin: auto 15px auto auto;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
  }

  .parameter {
    font-size: 10px;
  }

  .databox {
    margin: auto 10px auto auto;
  }
}
