.menu_buttons {
  width: 90px;
  height: fit-content;
  min-height: 30px;
  margin-right: 10px;
}

.disactive {
  display: none;
}

.popup_error {
  margin: 0;
  margin-top: 34px;
  margin-left: 36px;
  padding: 0;

  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  line-height: 32px;
  color: red;
  animation: errorActive 100ms 1 forwards;
}

.popup_textInput {
  width: 330px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 24px;

  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popup_submitButton {
  width: 330px;
}

@keyframes errorActive {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}