.databox {
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: fit-content;
  max-width: 50%;
  height: fit-content;
  margin: auto 20px auto auto;
  padding: 0 10px 20px;

  text-align: right;

  opacity: 0.7;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

.button {
  width: 70px;
  height: fit-content;
  min-height: 30px;
  margin-right: 10px;

  font-size: 16px;
  color: black;

  background-color: snow;
  border: none;
  border-radius: 2px;
  outline: 0;
}

.form {
  margin-top: 10px;
}

.choosefile {
  font-size: 16px;
}

.title {
  margin: 10px 0 0;
  padding: 0;
  font-size: 30px;
  color: white;
}

.filesgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  gap: 12px;
  justify-content: center;

  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  opacity: 0.7;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

.file {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 80px;
  min-height: 100px;
}

.file_title {
  overflow: hidden;

  width: 80px;
  margin: 0;
  margin-top: 8px;
  padding: 0;

  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file_image {
  width: 80px;
  height: 100px;
  margin: 0;
  padding: 0;

  background-image: url("../../images/empty-boxes.svg");
  background-position: center;
  background-size: cover;
}
