.databox {
  display: flex;
  flex-direction: column;

  width: fit-content;
  height: fit-content;
  max-height: 80vh;

  text-align: left;
}

.filesgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  gap: 12px;
  justify-content: center;

  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.file {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 80px;
  min-height: 100px;
}

.file_image {
  width: 80px;
  height: 100px;
  margin: 0;
  padding: 0;

  background-image: url("../../images/empty-boxes.svg");
  background-position: center;
  background-size: cover;
}
