.databox {
  display: flex;
  flex-direction: column;

  width: fit-content;
  height: fit-content;
  max-height: 80vh;

  text-align: left;
}

.radiobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loadbox {
  margin-top: 15px;
  text-align: left;
}

.button {
  cursor: pointer;

  width: 70px;
  height: fit-content;
  min-height: 30px;
  margin-right: 10px;

  font-size: 16px;
  color: black;

  border-radius: 4px;
  outline: 0;
}

.form {
  margin-top: 30px;
}

.radioform {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  margin-top: 20px;

  text-align: left;
}

.radioinput {
  display: block;
}

.radiotitle {
  margin: 0;
  text-align: center;
  text-decoration: underline solid;
}

.choosefile {
  font-size: 16px;
}

.title {
  margin: 30px 0 0;
  padding: 0;
  font-size: 30px;
  color: black;
}

.title:first-of-type {
  margin: 50px 0 0;
}

.link {
  font-size: 20px;
  color: black;
}

.disable {
  display: none;
}

.spinner {
  width: 30px;
  height: 30px;

  color: black;

  border: 2px dashed black;
  border-radius: 50%;

  animation: rotate 0.8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
