.databox {
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: fit-content;
  max-width: 50%;
  height: fit-content;
  margin: auto 20px auto auto;
  padding: 0 10px 20px;

  text-align: right;

  opacity: 0.7;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

.radiobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loadbox {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.button {
  width: 70px;
  height: fit-content;
  min-height: 30px;
  margin-right: 10px;

  font-size: 16px;
  color: black;

  background-color: snow;
  border: none;
  border-radius: 2px;
  outline: 0;
}

.form {
  margin-top: 10px;
}

.radioform {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  margin-top: 10px;

  text-align: left;
}

.radioinput {
  display: block;
}

.radiotitle {
  margin: 0;
  text-align: center;
  text-decoration: underline solid;
}

.choosefile {
  font-size: 16px;
}

.title {
  margin: 10px 0 0;
  padding: 0;
  font-size: 30px;
  color: white;
}

.link {
  font-size: 20px;
  color: white;
}

.disable {
  display: none;
}

.spinner {
  color: white;
}

.spinner::after {
  content: "⠋";
  display: block;
  font-size: 30px;
  animation: changeContent 0.8s linear infinite;
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}
