.url {
  overflow: hidden;

  margin-top: 15px;

  font-size: 16px;
  font-weight: 600;
  color: black;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style-position: inside;
}

.title {
  margin-top: 50px;

  font-size: 40px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.databox {
  display: flex;
  flex-direction: column;

  width: fit-content;
  height: fit-content;
  max-height: 80vh;

  text-align: center;
}

@media screen and (max-height: 600px) {
  .title {
    font-size: 24px;
  }

  .url {
    font-size: 12px;
  }

  .databox {
    margin: auto 15px auto auto;
  }
}

@media screen and (max-width: 1040px) {
  .title {
    font-size: 30px;
  }

  .url {
    font-size: 16px;
  }
}

@media screen and (max-width: 920px) {
  .title {
    font-size: 28px;
  }

  .url {
    font-size: 14px;
  }
}

@media screen and (max-width: 525px) {
  .title {
    font-size: 24px;
  }

  .url {
    font-size: 12px;
  }

  .databox {
    margin: auto 15px auto auto;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
  }

  .url {
    font-size: 10px;
  }
}
